.btn {
	text-transform: uppercase;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-width: 3px;
	@include border-radius(20px);
	letter-spacing: 1px;
	font-weight: bold;
}


.btn-default {
	background-color: $white;
	border-bottom-color: $medium-gray;
	color: $gray;
}
.btn-primary {
	color: $white;
	background-color: rgb(49,169,208); // Old browsers
	@include filter-gradient(#31a9d0, #277ac7, horizontal); // IE6-9 fallback on horizontal gradient
	@include background-image(linear-gradient(left top, rgba(49,169,208,1) 0%,rgba(39,122,199,1) 100%));
}
.btn-success {
	color: $white;
	background-color: rgb(52,210,139); // Old browsers
	@include filter-gradient(#34d28b, #26c7b0, horizontal); // IE6-9 fallback on horizontal gradient
	@include background-image(linear-gradient(left top, rgba(52,210,139,1) 0%,rgba(38,199,176,1) 100%));
}
.btn-danger {
	background-color: rgb(210,52,123); // Old browsers
	@include filter-gradient(#d2347b, #c7263d, horizontal); // IE6-9 fallback on horizontal gradient
	@include background-image(linear-gradient(left top, rgba(210,52,123,1) 0%,rgba(199,38,61,1) 100%));
}
.btn-primary-alt {
	color: $white;
	background-color: rgb(52,210,184); // Old browsers
	@include filter-gradient(#34d2b8, #26afc7, horizontal); // IE6-9 fallback on horizontal gradient
	@include background-image(linear-gradient(left top, rgba(52,210,184,1) 0%,rgba(38,175,199,1) 100%));
}
.btn-wide {
	padding-left: 45px;
	padding-right: 45px;
}

.btn-outline {
	border-width: 1px;
	background: none;
}