.topbar-session {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	background: $white;
	color: $main-blue;
	font-size: 1.1rem;
	padding: 1em 0;

	a {
		color: $main-blue;
		font-size: 1.1rem;
	}
}
.topbar-session-spacer {
	height: 35px;
	display: block;
}

.navbar-main {
	margin: 1em 0;

	.btn {
		padding-top: 1em;
		padding-bottom: 1em;
	}
}