.proposta-header {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid $light-gray;

	.title {
		text-transform: uppercase;
		font-weight: bold;
		color: $main-green;
		letter-spacing: 2px;
		font-size: 2rem;
	}
}

.form-control {
	@include border-radius(25px);
	border-color: $main-blue;
	margin-bottom: 1em;
}