@import "base";
@import "mixins";

@import "buttons";
@import "header";
@import "footer";
@import "proposta";
@import "painel";

body {
	font-family: "Open Sans", sans-serif;
}

.no-padding {
	padding: 0;
}
.no-margin {
	margin: 0;
}
.hidden-toggle {
	display: none;
}
.tooltip-inner {
    white-space:pre-wrap;
}
.btn-disabled {
	@include opacity(0.7);
	cursor: default;
}
.v-sep {
	padding: 0 15px;
	color: #E0DDDD;
	cursor: default;
}
.alert-simple {
	background: none;
	border: none;
}
.alert-left {
	text-align: left;

	h2 {
		text-transform: uppercase;
		font-weight: bold;
	}
	p {
		text-align: justify;
	}
}