<style type="text/css">
	.ficha-adesao-entidade td {
		padding: 5px;
	}
	@media print {
		h1 {
			font-size: 20pt;
		}
	}
</style>
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="ficha-adesao-entidade">
	<tr>
		<td>
			<table>
				<tr>
					<td width="25%" style="text-align: center;">
						<img src="[[IMAGES_URL]]/abefine-logo.jpg" class="img-responsive" style="margin:0 auto;">
					</td>
					<td>
						<h1>ASSOCIAÇÃO BRASILEIRA DOS EDUCADORES DE INSTITUIÇÕES DE ENSINO PUBLICO E PARTICULAR.</h1>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top: 1px solid #000; border-left: 1px solid #000;">
				<tr>
					<td colspan="5" style="border-right:1px solid #000;border-bottom:1px solid #000;text-align:center">FICHA DE CADASTRO/FILIAÇÃO</td>
				</tr>
				<tr>
					<td colspan="5" style="border-right:1px solid #000;border-bottom:1px solid #000;">NOME ASSOCIADO:<br>{{nome}}</td>
				</tr>
				<tr>
					<td colspan="2" style="border-right:1px solid #000;border-bottom:1px solid #000;">ASSOCIAÇÃO:<br>{{associacao}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">MATRICULA:<br>{{matricula}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">DATA NASC:<br>{{nascimento}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">ESTADO CIVIL:<br>{{estado-civil}}</td>
				</tr>
				<tr>
					<td colspan="4" style="border-right:1px solid #000;border-bottom:1px solid #000;">ENDEREÇO:<br>{{endereco}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">BAIRRO:<br>{{bairro}}</td>
				</tr>
				<tr>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">N&ordm;:<br>{{numero}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">COMPLEMENTO<br>{{complemento}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">CIDADE:<br>{{cidade}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">UF:<br>{{uf}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">CEP:<br>{{cep}}</td>

			</tr>
				<tr>
					<td colspan="2" style="border-right:1px solid #000;border-bottom:1px solid #000;">TELEFONE FIXO:<br>{{telefone}}</td>
					<td colspan="2" style="border-right:1px solid #000;border-bottom:1px solid #000;">CELULAR:<br>{{celular}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">CELULAR:<br>{{celular-2}}</td>
				</tr>
				<tr>
					<td colspan="5" style="border-right:1px solid #000;border-bottom:1px solid #000;">FILIAÇÃO (PAI):<br>{{nome-pai}}</td>
				</tr>
				<tr>
					<td colspan="5" style="border-right:1px solid #000;border-bottom:1px solid #000;">FILIAÇÃO (MÃE):<br>{{nome-mae}}</td>
				</tr>
				<tr>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">NATURALIDADE:<br>{{naturalidade}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">UF:<br>{{uf}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">CPF:<br>{{cpf}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">RG:<br>{{rg}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">ORGÃO EXP:<br>{{orgao-expedidor}}</td>
				</tr>
				<tr>
					<td colspan="5" style="border-right:1px solid #000;border-bottom:1px solid #000;">E-MAIL:<br>{{email}}</td>
				</tr>
			</table>

			<br>

			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top: 1px solid #000; border-left: 1px solid #000;">
				<tr>
					<td colspan="4" style="border-right:1px solid #000;border-bottom:1px solid #000;text-align: center;">DEPENDENTES</td>
				</tr>
				<tr>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;text-align: center;font-weight: bold;">DEPENDENTE - NOME</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;text-align: center;font-weight: bold;">PARENTESCO</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;text-align: center;font-weight: bold;">SEXO</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;text-align: center;font-weight: bold;">DATA NASCIMENTO</td>
				</tr>
				{{dependentes}}
			</table>

			<br>

			<p>Declaro aceitar as condições constantes no Estatuto ABEFINE, comprometendo-me a cumprir e fazer com que sejam cumpridas nas esferas de minha responsabilidade.</p>

			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td style="text-align: center;" width="50%">
						{{cidade}}, %%d%% de %%B%% de %%Y%%<br>
						Local, Data
					</td>
					<td style="text-align: center;" width="50%">
						<img src="{{doc-assinatura-digital}}" style="max-width: 100%; height: auto;"><br>
						Assinatura do Associado
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>