<tr>
	<td style="border-right:1px solid #000;border-bottom:1px solid #000;">{{nome}}</td>
	<td style="border-right:1px solid #000;border-bottom:1px solid #000;">{{parentesco}}</td>
	<td style="border-right:1px solid #000;border-bottom:1px solid #000;">{{sexo}}</td>
	<td style="border-right:1px solid #000;border-bottom:1px solid #000;">{{nascimento}}</td>
</tr>