<style type="text/css">
	.ficha-adesao-entidade td {
		padding: 5px;
	}
	@media print {
		h1 {
			font-size: 20pt;
		}
	}
</style>
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="ficha-adesao-entidade">
	<tr>
		<td>
			<table>
				<tr>
					<td>
						<img src="[[IMAGES_URL]]/fetrabras-logo.jpg" class="img-responsive">
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<h1 style="text-align: center;">FICHA DE RECADASTRAMENTO/FILIAÇÃO</h1>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top: 1px solid #000; border-left: 1px solid #000;">
				<tr>
					<td colspan="4" style="border-right:1px solid #000;border-bottom:1px solid #000;text-align:center">DADOS PESSOAIS</td>
				</tr>
				<tr>
					<td colspan="4" style="border-right:1px solid #000;border-bottom:1px solid #000;">NOME:<br>{{nome}}</td>
				</tr>
				<tr>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">ASSOCIAÇÃO:<br>{{associacao}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">DESLIGAMENTO:<br>{{desligamento}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">MATRÍCULA:<br>{{matricula}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">DATA NASC:<br>{{nascimento}}</td>
					
				</tr>
				<tr>
					<td colspan="2" style="border-right:1px solid #000;border-bottom:1px solid #000;">ENDEREÇO:<br>{{endereco}}</td>
					<td colspan="2" style="border-right:1px solid #000;border-bottom:1px solid #000;">BAIRRO:<br>{{bairro}}</td>
				</tr>
				<tr>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">N&ordm;:<br>{{numero}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">COMPLEMENTO<br>{{complemento}}</td>
					<td colspan="2" style="border-right:1px solid #000;border-bottom:1px solid #000;">COOPERATIVA AO QUAL É FILIADO:<br>{{cooperativa}}</td>
				</tr>
				<tr>
					<td colspan="2" style="border-right:1px solid #000;border-bottom:1px solid #000;">CIDADE:<br>{{cidade}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">UF:<br>{{uf}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">CEP:<br>{{cep}}</td>
					
				</tr>
				<tr>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">TELEFONE:<br>{{telefone}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">FONE CELULAR:<br>{{celular}}</td>
					<td colspan="2" style="border-right:1px solid #000;border-bottom:1px solid #000;"></td>
				</tr>
				<tr>
					<td colspan="2" style="border-right:1px solid #000;border-bottom:1px solid #000;">FILIAÇÃO (PAI):<br>{{nome-pai}}</td>
					<td colspan="2" style="border-right:1px solid #000;border-bottom:1px solid #000;">FILIAÇÃO (MÃE):<br>{{nome-mae}}</td>
				</tr>
				<tr>
					<td colspan="2" style="border-right:1px solid #000;border-bottom:1px solid #000;">NATURALIDADE:<br>{{naturalidade}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">UF:<br>{{uf}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">ESTADO CIVIL:<br>{{estado-civil}}</td>
				</tr>
				<tr>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">CPF:<br>{{cpf}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">RG:<br>{{rg}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">ORGÃO EXP:<br>{{orgao-expedidor}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">INSCRIÇÃO NO INSS:<br>{{inss}}</td>
				</tr>
				<tr>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">ATIVIDADE:<br>{{atividade}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">BANCO:<br>{{banco}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">AGÊNCIA:<br>{{agencia}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">C/C:<br>{{cc}}</td>
				</tr>
				<tr>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">SITUAÇÃO:<br>{{situacao}}</td>
					<td style="border-right:1px solid #000;border-bottom:1px solid #000;">NÍVEL ESCOLAR:<br>{{nivel-escolar}}</td>
					<td colspan="2" style="border-right:1px solid #000;border-bottom:1px solid #000;">E-MAIL:<br>{{email}}</td>
				</tr>
			</table>

			<br>

			<p>Declaro aceitar as condições constantes no Estatuto do SINDICATO DOS TRABALHADORES EM COOPERATIVAS DE TRABALHO NO ESTADO DE SÃO PAULO, comprometendo-me a cumprir e fazer com que sejam cumpridas na esfera de minha responsiabilidade.</p>

			<br>

			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td style="text-align: center;" width="50%">
						{{cidade}}, %%d%% de %%B%% de %%Y%%<br>
						Local, Data
					</td>
					<td style="text-align: center;" width="50%">
						<img src="{{doc-assinatura-digital}}" style="max-width: 100%; height: auto;"><br>
						Assinatura do Associado
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>