<style type="text/css">
	.ficha-adesao-entidade * {
		text-transform: none;
	}
	.ficha-adesao-entidade td {
		padding: 5px;
	}
	@media screen {
		.uneb-title-scaled {
			transform: scale(1,1) !important;
		}
	}
</style>
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="ficha-adesao-entidade">
	<tr>
		<td>
			<table width="100%">
				<tr>
					<td width="18%" style="text-align: center;">
						<img src="[[IMAGES_URL]]/uneb-logo.jpg" class="img-responsive" style="margin:0 auto;">
					</td>
					<td style="text-align: center;">
						<h1 style="font-size:60pt;font-weight: bold;">FICHA DE FILIAÇÃO</h1>
						<div style="color:blue;display: block;border: 2px solid #000;border-radius:5px;padding:5px;font-size:15pt;font-weight: bold;"><div class="uneb-title-scaled" style="transform:scale(2,1);color:blue;">UNIÃO DOS ESTUDANTES BRASILEIROS</div></div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<br>
			<p style="color:red;font-weight: bold;">Anexar cópia da declaração de escolaridade.<br>Anexar cópia do comprovante de pagamento.</p>

			<div style="border:1px solid #000; border-radius: 25px; padding:10px">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td colspan="4">Nome completo do Associado/Estudante: {{nome}}</td>
					</tr>
					<tr>
						<td colspan="4">Nome do Responsável: {{responsavel}}</td>
					</tr>
					<tr>
						<td colspan="4">Endereço: {{endereco}}, {{numero}} - {{bairro}}</td>
					</tr>
					<tr>
						<td>Cidade: {{cidade}}</td>
						<td>UF: {{uf}}</td>
						<td>CEP: {{cep}}</td>
						<td colspan="2">Telefone: {{telefone}}</td>
					</tr>
					<tr>
						<td colspan="2">Celular: {{celular}}</td>
						<td>Sexo: {{sexo}}</td>
						<td>Data de nasc.: Associado/Estudante {{nascimento}}</td>
					</tr>
					<tr>
						<td colspan="2">E-MAIL: {{email}}</td>
						<td colspan="2">CPF: {{cpf}}</td>
					</tr>
				</table>
			</div>

			<br>

			<div style="border:1px solid #000; border-radius: 25px; padding:10px">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td colspan="3">Nome completo da Escola / Instituição: {{escola}}</td>
					</tr>
					<tr>
						<td>Série: {{serie}}</td>
						<td>Turma: {{turma}}</td>
						<td>Turno: {{turno}}</td>
					</tr>
					<tr>
						<td colspan="4">{{ensino}} {{ensino-curso}}</td>
					</tr>
				</table>
			</div>

			<br>

			<div style="border:1px solid #000; border-radius: 25px; padding:10px">
				<p style="font-size:20pt; font-weight: bold;">Dependentes</p>
				<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top: 1px solid #000; border-left: 1px solid #000;">
					<tr>
						<td colspan="4" style="border-right:1px solid #000;border-bottom:1px solid #000;text-align: center;">DEPENDENTES</td>
					</tr>
					<tr>
						<td style="border-right:1px solid #000;border-bottom:1px solid #000;text-align: center;font-weight: bold;">DEPENDENTE - NOME</td>
						<td style="border-right:1px solid #000;border-bottom:1px solid #000;text-align: center;font-weight: bold;">PARENTESCO</td>
						<td style="border-right:1px solid #000;border-bottom:1px solid #000;text-align: center;font-weight: bold;">SEXO</td>
						<td style="border-right:1px solid #000;border-bottom:1px solid #000;text-align: center;font-weight: bold;">DATA NASCIMENTO</td>
					</tr>
					{{dependentes}}
				</table>
			</div>

			<br>

			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td style="text-align: center;" width="50%">
						<span style="font-weight:bold; font-size:16pt;">Data de Filiação: {{datecreatef}}</span>
						<br>
						<p style="font-weight: bold;text-align: left;">Esta filiação tem por finalidade apenas a elegibilidade para aquisição de plano de saúde e não se presta para a emissão de Identidade Estudantil.</p>
						<p style="font-size:20pt;color:red;text-align: left;font-weight: bold;">Taxa de Filiação: R$ 10,00</p>
					</td>
					<td style="text-align: center;">
						<img src="{{doc-assinatura-digital}}" style="max-width: 100%; height: auto; max-height: 280px;">
						<div style="border-top: 1px solid #000; font-weight: bold;font-size: 15pt;">Assinatura do Estudante ou Responsável.</div>
						<small style="font-size:8pt;">Declaro para todos os fins a veracidade das informações fornecidas, ciente da responsabilidade civil e criminal<br>Se menor de 16 anos o responsável assina no lugar o estudante.</small>
					</td>
				</tr>
			</table>

			<hr style="border-width: 10px; border-color: #000;">

			<p style="text-align: center;">
				<strong>União dos Estudantes Brasileiros - UNEB</strong><br>
				<strong>Endereço Sede Provisória:</strong> QNO 12 AE C/P Bloco F Sala 305 - Ceilândia - DF - Fone: 61 99302-9280 Email: uneb2016@gmail.com<br>
				<strong>www.sitedoestudante.com</strong>
			</p>

			
		</td>
	</tr>
</table>
