<table style="width: 100%;">
	<tr>
		<td>
			<table style="width: 100%; border-top: 1px solid #ccc;">
				<tr>
					<td width="25%" rowspan="3" style="text-align: center;">
						<img src="[[IMAGES_URL]]/logo-nunesegr-ans.png" style="width: 90%; height: auto;">
					</td>
					<td width="25%" rowspan="3" style="text-align: center;">
						<img src="[[IMAGES_URL]]/logo-metlife-ans.png" style="width: 90%; height: auto;">
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td style="text-align: center; text-transform: uppercase; padding:30px 0;">
			<p style="font-weight: bold; font-size:16pt; margin-bottom: 0;">PROPOSTA N&ordm; {{protocolo}}</p>
			<p style="font-size:14pt; margin-bottom: 4px;">VENDEDOR: {{usuario_nome}}</p>
			<p style="font-size:14pt; margin-bottom: 4px;">DATA: {{datecreatef}}</p>
			<p style="font-size:14pt; margin-bottom: 4px;">NOME: {{nome}}</p>
			<p style="font-size:14pt; margin-bottom: 4px;">RG: {{rg}}</p>
			<p style="font-size:14pt; margin-bottom: 4px;">CPF: {{cpf}}</p>
		</td>
	</tr>
	<tr>
		<td>
			<div style="border: 3px dashed #0093d6; height: 260px; margin:30px 0;">
				<p style="text-align: center; font-size:10pt; font-weight: bold; color: #0093d6;">ASSINE DENTRO DESTE QUADRO</p>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div style="border: 3px dashed #0093d6; height: 260px; margin:30px 0;">
				<p style="text-align: center; font-size:10pt; font-weight: bold; color: #0093d6;">ASSINE DENTRO DESTE QUADRO</p>
			</div>
		</td>
	</tr>
</table>