<div style="padding:60px 0;background-color:#eee;font-family: 'Open Sans', Arial, sans-serif;">
	
	<table style="min-width: 400px; width: 50%; margin:0 auto;background-color: #fff;">
		<tr>
			<td colspan="2">
				<div style="padding: 60px">
					<h2 style="text-align: center;">&#10004; PROPOSTA IMPLANTADA</h2>
					<p style="border-top: 1px solid #eee; padding: 10px; font-size: .7rem; text-align: center; color: #999;">A seguinte proposta foi revisada pelo setor responsável e encontra-se implantada.</p>
					<table border="0" width="100%" style="border-bottom: 1px solid #eee;">
						<tr>
							<td width="25%" style="text-align: center; padding: 5px 10px; border-right: 1px solid #eee;">
								<h3 style="margin:0;padding:0;">#{{protocolo}}</h3>
								<p style="margin:0;padding:0;font-size:.75rem;color:#999;">PROTOCOLO</p>
							</td>
							<td width="25%" style="text-align: center; padding: 5px 10px; border-right: 1px solid #eee;">
								<h3 style="margin:0;padding:0;">{{vidas}}</h3>
								<p style="margin:0;padding:0;font-size:.75rem;color:#999;">N&ordm; TOTAL DE VIDAS</p>
							</td>
							<td width="25%" style="text-align: center; padding: 5px 10px; border-right: 1px solid #eee;">
								<h3 style="margin:0;padding:0;text-transform:uppercase;">{{entidade_nome}}</h3>
								<p style="margin:0;padding:0;font-size:.75rem;color:#999;">ENTIDADE</p>
							</td>
							<td width="25%" style="text-align: center; padding: 5px 10px;">
								<h3 style="margin:0;padding:0;">R$ {{valor-proposta}}</h3>
								<p style="margin:0;padding:0;font-size:.75rem;color:#999;">VALOR TOTAL</p>
							</td>
						</tr>
					</table>
					<table border="0" width="100%">
						<tr>
							<td width="33.333333%" style="text-align: center; padding: 5px 10px; border-right: 1px solid #eee;">
								<h3 style="margin:0;padding:0;">{{usuario_nome}}</h3>
								<p style="margin:0;padding:0;font-size:.75rem;color:#999;">VENDEDOR</p>
							</td>
							<td width="33.333333%" style="text-align: center; padding: 5px 10px; border-right: 1px solid #eee;">
								<h3 style="margin:0;padding:0;">{{vigenciaf}}</h3>
								<p style="margin:0;padding:0;font-size:.75rem;color:#999;">VIGENCIA</p>
							</td>
							<td width="33.333333%" style="text-align: center; padding: 5px 10px;">
								<h3 style="margin:0;padding:0;text-transform:uppercase;">{{status}}</h3>
								<p style="margin:0;padding:0;font-size:.75rem;color:#999;">STATUS</p>
							</td>
						</tr>
					</table>
					<div style="height: 50px;"></div>
					<a target="_blank" href="[[URL]]corretora/visualizar?id={{propostaid}}" style="background-color: #31a9d0;display: block;color: #fff;text-decoration: none;text-transform: uppercase;text-align: center;padding: 15px;border-radius: 25px;font-weight: bold;margin-bottom: 5px;">Visualizar a proposta</a>
					<a target="_blank" href="[[URL]]corretora" style="background-color: #34d28b;display: block;color: #fff;text-decoration: none;text-transform: uppercase;text-align: center;padding: 8px;border-radius: 25px;font-weight: bold;">Acessar o painel da corretora</a>
					<div style="height: 30px;"></div>
					<p style="font-style: italic; color: #aaa;"><small>Protocolo: {{protocolo}}<br>%%d%% de %%B%% de %%Y%% às %%H%%:%%M%%</small></p>
				</div>
			</td>
		</tr>
		<tr>
			<td width="50%" style="text-align: center; padding-bottom: 60px;">
				<img src="[[IMAGES_URL]]/logo-nunesegr.png?v=3" style="width: 60%; height: auto;">
			</td>
			<td width="50%" style="text-align: center; padding-bottom: 60px;">
				<img src="[[IMAGES_URL]]/logo-metlife.png?v=3" style="width: 60%; height: auto;">
			</td>
		</tr>
	</table>

</div>