<div style="padding:60px;background-color:#eee;font-family: 'Open Sans', Arial, sans-serif;">
	
	<table style="min-width: 500px; width: 60%; margin:0 auto;background-color: #fff;">
		<tr>
			<td colspan="2">
				<div style="padding: 60px">
					<h2>Nova proposta em análise</h2>
					<p>
						Vendedor: {{usuario_nome}}<br>
						Corretora: {{corretora_nome}}<br>
						Protocolo: {{protocolo}}<br>
						Cliente: {{nome}}<br>
						Vigência: {{vigenciaf}}
					</p>
					<a href="[[URL]]backoffice/visualizar?id={{propostaid}}" style="background-color: #31a9d0;display: block;color: #fff;text-decoration: none;text-transform: uppercase;text-align: center;padding: 15px;border-radius: 25px;font-weight: bold;margin-bottom: 5px;">Visualizar pelo Backoffice</a>
					<a href="[[URL]]backoffice/revisar?id={{propostaid}}" style="background-color: #34d28b;display: block;color: #fff;text-decoration: none;text-transform: uppercase;text-align: center;padding: 8px;border-radius: 25px;font-weight: bold;">Revisar pelo Backoffice</a>
					<hr>
					<p style="font-style: italic; color: #aaa;"><small>Protocolo: {{protocolo}}<br>%%d%% de %%B%% de %%Y%% às %%H%%:%%M%%</small></p>
				</div>
			</td>
		</tr>
		<tr>
			<td width="50%" style="text-align: center; padding-bottom: 60px;">
				<img src="[[IMAGES_URL]]/logo-nunesegr.png?v=3" style="width: 60%; height: auto;">
			</td>
			<td width="50%" style="text-align: center; padding-bottom: 60px;">
				<img src="[[IMAGES_URL]]/logo-metlife.png?v=3" style="width: 60%; height: auto;">
			</td>
		</tr>
	</table>

</div>