<div style="padding:60px 0;background-color:#eee;font-family: 'Open Sans', Arial, sans-serif;">
	
	<table style="min-width: 400px; width: 50%; margin:0 auto;background-color: #fff;">
		<tr>
			<td colspan="2">
				<div style="padding: 60px">
					<h2>Olá, {{usuario_nome}}</h2>
					<p>A proposta <strong>{{protocolo}}</strong> foi devolvida com pendências e pode expirar.</p>
					<div style="background-color: #FEE0E0; border: 1px solid #E01818; border-left: none; border-right: none; font-size: 14px; padding: 15px;">
						Pendências:<br>
						{(getLastObservacaoPlainText)}
					</div>
					<p>Sua proposta <strong>NÃO</strong> poderá ser implantada até resolução destas pendências.</p>
					
					<div style="height: 15px;"></div>
					<a target="_blank" href="{(getLastObservacaoEtapaLink)}" style="background-color: #31a9d0;display: block;color: #fff;text-decoration: none;text-transform: uppercase;text-align: center;padding: 15px;border-radius: 25px;font-weight: bold;margin-bottom: 5px;">Atualizar a proposta</a>
					<a target="_blank" href="[[URL]]proposta/historico" style="background-color: #34d28b;display: block;color: #fff;text-decoration: none;text-transform: uppercase;text-align: center;padding: 8px;border-radius: 25px;font-weight: bold;">Acessar histórico de propostas</a>
					<div style="height: 30px;"></div>
					<p style="font-style: italic; color: #aaa;"><small>Protocolo: {{protocolo}}<br>%%d%% de %%B%% de %%Y%% às %%H%%:%%M%%</small></p>
				</div>
			</td>
		</tr>
		<tr>
			<td width="50%" style="text-align: center; padding-bottom: 60px;">
				<img src="[[IMAGES_URL]]/logo-nunesegr.png?v=3" style="width: 60%; height: auto;">
			</td>
			<td width="50%" style="text-align: center; padding-bottom: 60px;">
				<img src="[[IMAGES_URL]]/logo-metlife.png?v=3" style="width: 60%; height: auto;">
			</td>
		</tr>
	</table>

</div>