<div style="padding:60px;background-color:#eee;font-family: 'Open Sans', Arial, sans-serif;">
	
	<table style="min-width: 500px; width: 60%; margin:0 auto;background-color: #fff;">
		<tr>
			<td colspan="2">
				<div style="padding: 60px">
					<p>Prezado <strong>{{nome}}</strong>,</p>
					<p>Sua proposta está em análise. Aguarde o contato de nossos consultores.</p>
					<hr>
					<p style="font-style: italic; color: #aaa;"><small>Protocolo: {{protocolo}}<br>%%d%% de %%B%% de %%Y%% às %%H%%:%%M%%</small></p>
				</div>
			</td>
		</tr>
		<tr>
			<td width="50%" style="text-align: center; padding-bottom: 60px;">
				<img src="[[IMAGES_URL]]/logo-nunesegr.png?v=3" style="width: 60%; height: auto;">
			</td>
			<td width="50%" style="text-align: center; padding-bottom: 60px;">
				<img src="[[IMAGES_URL]]/logo-metlife.png?v=3" style="width: 60%; height: auto;">
			</td>
		</tr>
	</table>

</div>