<style>

table.table-proposta td {
	text-transform: uppercase;
	vertical-align: top;
}
table.table-proposta td span {
	text-transform: uppercase;
	font-weight: bold;
}
table.table-proposta thead td {
	font-size: 15px;
}
table.proposta-dados tr td {
	padding: 8px;
	font-size: 12px;
}
table.proposta-dados tr td span {
	display: block;
	margin-bottom: 5px;
}
table.proposta-dados-lined tr td {
	border-bottom: 1px solid #dadadb;
}

@page {
    size: A4;
    margin: 5mm;
}
@media all {
	.page-break	{ display: none; }
}
@media print
{
	html, body {
        width: 210mm;
        height: 297mm;
    }
	table table { page-break-inside: avoid; }
  	thead { display:table-header-group; }
  	tfoot {display: table-row-group;}
  	tr { page-break-inside: avoid; }
  	.page-break	{ display: block; page-break-before: always; }
}
</style>
<table width="100%" class="table table-proposta" style="border: 4px solid #008fbe; page-break-before: avoid">

	<thead>

		<tr style="border-bottom: 4px solid #008fbe; page-break-before: avoid">
			<td>
				<table>
					<tr>
						<td width="25%" style="font-size: 14px;"><span>Proposta:</span> {{protocolo}} </td>
						<td width="25%" style="font-size: 14px;"><span>Entidade:</span> {{entidade_nome}} </td>

						<td width="25%" rowspan="3" style="text-align: center;">
							<img src="[[IMAGES_URL]]/logo-nunesegr-ans.png" style="width: 90%; height: auto;">
						</td>
						<td width="25%" rowspan="3" style="text-align: center;">
							<img src="[[IMAGES_URL]]/logo-metlife-ans.png" style="width: 90%; height: auto;">
						</td>
					</tr>
					<tr>
						<td colspan="2" style="font-size: 14px;"> <span>Vendedor:</span> {{usuario_nome}}</td>
					</tr>
					<tr>
						<td colspan="2" style="font-size: 14px;"><span>Tel. Vendedor:</span> {{usuario_telefone}} </td>
					</tr>
					<tr>
						<td colspan="2" style="font-size: 14px;"><span>CPF:</span> {{usuario_cpf}} </td>
					</tr>
					<tr>
						<td colspan="2" style="font-size: 14px;"> <span>Início da vigência do benefício:</span> {{vigenciaf}} </td>
					</tr>
					<tr>
						<td colspan="2" style="font-size: 14px;"><span>Corretora:</span> {{corretora_nome}}</td>
					</tr>
				</table>
			</td>
		</tr>

	</thead>

	<tbody>

		<tr style="page-break-after: always;">
			<td>
				<h4 style="font-size:22px; font-weight: bold; display: block; border-bottom: 4px solid #8fc7e8; padding-bottom: 12px;">Proponente titular</h4>
				<table width="100%" class="proposta-dados proposta-dados-lined">
				   <tbody>
				      <tr>
				      	<td width="33.3333%"><span>Nome completo <small>(sem abreviações)</small></span>{{nome}}</td>
				        <td width="33.3333%"><span>Sexo</span>{{sexo}}</td>
				        <td width="33.3333%" colspan="2"><span>Estado Civil</span>{{estado-civil}}</td> 
				      </tr>
				      <tr>
				      	<td width="33.3333%"><span>Nome da mãe completo</span>{{nome-mae}}</td>
				      	<td width="33.3333%"><span>Data de nascimento</span>{{nascimento}}</td>
				      	<td width="33.3333%" colspan="2"><span>Naturalidade (cidade, estado e país)</span>{{naturalidade}}</td>				         
				      </tr>
				      <tr>
				         <td width="33.3333%"><span>CNS <small>(Cartão Nacional de Saúde)</small></span>{{cns}}</td>
				         <td width="33.3333%"><span>DNV <small>(Declaração nascidos vivos)</small></span>{{dnv}}</td>
				         <td width="33.3333%" colspan="2"><span>PIS/PASEP</span>{{pis-pasep}}</td>
				      </tr>
				      <tr>
				         <td width="33.3333%"><span>RG</span>{{rg}}</td>
				         <td width="33.3333%"><span>Órgão expedidor</span>{{orgao-expedidor}}</td>
				         <td width="33.3333%" colspan="2"><span>CPF</span>{{cpf}}</td>
				      </tr>
				      <tr>
				         <td width="33.3333%"><span>Telefone residencial</span>{{telefone}}</td>
				         <td width="33.3333%"><span>Telefone celular</span>{{celular}}</td>
				         <td width="33.3333%" colspan="2"><span>E-mail</span>{{email}}</td>
				      </tr>
				      <tr>
				         <td width="33.3333%"><span>CEP <small>(Residencial)</small></span>{{cep}}</td>
				         <td width="33.3333%"><span>Endereço residencial</span>{{endereco}}</td>
				         <td width="33.3333%" colspan="2"><span>Número</span>{{numero}}</td>
				      </tr>
				      <tr>
				         <td width="33.3333%"><span>Complemento <small>(Ex.: apto)</small></span>{{complemento}}</td>
				         <td width="33.3333%"><span>Bairro</span>{{bairro}}</td>
				         <td width="23.3333%"><span>Cidade</span>{{cidade}}</td>
				         <td width="10%"><span>UF</span>{{uf}}</td>
				      </tr>
				      <tr>
				         <td width="33.3333%"><span>CEP <small>(correspondencia)</small></span>{{correspondencia-cep}}</td>
				         <td width="33.3333%"><span>Endereço Correspondência</span>{{correspondencia-endereco}}</td>
				         <td width="33.3333%" colspan="2"><span>Número</span>{{correspondencia-numero}}</td>
				      </tr>
				      <tr>
				         <td width="33.3333%"><span>Complemento <small>(Ex.: apto)</small></span>{{correspondencia-complemento}}</td>
				         <td width="33.3333%"><span>Bairro</span>{{correspondencia-bairro}}</td>
				         <td width="23.3333%"><span>Cidade</span>{{correspondencia-cidade}}</td>
				         <td width="10%"><span>UF</span>{{correspondencia-uf}}</td>
				      </tr>
				      <tr>
				         <td width="33.3333%"><span>Profissão/formação</span>{{profissao}}</td>
				         <td width="66.6666%" colspan="3"><span>Nº de registro/inscrição no conselho regional/federal (se houver)</span>{{registro}}</td>
				      </tr>
				   </tbody>
				</table>
				
				<h4 style="font-size:22px; font-weight: bold; display: block; border-bottom: 4px solid #8fc7e8; padding: 12px 0;">Dependentes</h4>
				{{dependentes}}

				<h4 style="font-size:22px; font-weight: bold; display: block; border-bottom: 4px solid #8fc7e8; padding: 12px 0;">Plano pretendido</h4>
				<table width="100%" class="proposta-dados proposta-dados-lined">
				   <tbody>
				      <tr>
				      	<td width="33.3333%"><span>Valor por proponente</span>R$ {{titular-valor}}</td>
				        <td width="33.3333%"><span>Valor total</span>R$ {{valor-total}}</td>
				        <td width="33.3333%"><span>Forma de cobrança</span>Boleto bancário ou outra forma definida pela administradora</td> 
				      </tr>
				   </tbody>
				</table>

				<table width="100%" class="proposta-dados">
				   <tbody>
				      <tr>
				      	<td width="20%" style="vertical-align: middle;"><span>CARÊNCIAS</span></td>
				      	<td>24 (vinte e quatro) horas para procedimentos de Urgência e Emergência.<br>
							30 (trinta) dias para procedimentos das demais especialidades.</td>
				      </tr>
				   </tbody>
				</table>

				<table width="100%" class="proposta-dados">
				   <tbody>
				      <tr>
				      	<td width="33.3333%"><span>Data de vencimento da 1&ordf; mensalidade</span>{{vigenciaf}}</td>
				        <td width="33.3333%"><span>Data de início da vigência</span>{{vigenciaf}}</td>
				        <td width="33.3333%"><span>Data de vencimento das demais parcelas</span>Todo dia 1 de cada mês.</td> 
				      </tr>
				   </tbody>
				</table>

				<div style="border: 2px solid #9dceeb; padding: 5px 10px; font-size:13px; font-weight: bold;">Atenção a Administradora de Benefícios disponibiliza em seu site (www.nunesegrossi.com.br) o boleto bancário para pagamento do benefício.</div>

				<hr>

				<table width="100%" class="proposta-dados">
				   <tbody>
				      <tr>
				      	<td><span>Taxa de angariação</span>
				      		<div style=" text-transform: none; line-height: 1.4em;">A TAXA DE ANGARIAÇÃO É DEVIDA AO ANGARIADOR DESTA PROPOSTA NO ATO DE SUA ASSINATURA, POR CONTA DA INTERMEDIAÇÃO DO BENEFÍCIO, E EQUIVALE A 100% (CEM POR CENTO) DO VALOR TOTAL DO(S) BENEFÍCIO(S) CONTRATADO(S). EM CASO DE NÃO ACEITAÇÃO DESSA PROPOSTA, ESSA TAXA SERÁ INTEGRALMENTE DEVOLVIDA PELO ANGARIADOR AO PROPONENTE TITULAR.<br>
							ATENÇÃO: O PAGAMENTO DA TAXA DE ANGARIAÇÃO É OBRIGATÓRIA E NÃO SE CONFUNDE, ISENTA, EXCLUI OU SUBSTITUI O PAGAMENTO DA PRIMEIRA E DAS DEMAIS COBRANÇAS MENSAIS DO BENEFÍCIO, AS QUAIS SÃO ARRECADADAS PELA ADMINISTRADORA DE BENEFÍCIOS E DARÃO DIREITO ÀS COBERTURAS DECORRENTES DESTA PROPOSTA.</div></td>
				      </tr>
				   </tbody>
				</table>

				<div style="border: 2px solid #9dceeb; padding: 5px 10px; font-size:13px;"><strong>Valor por extenso:</strong> {{valor-proposta-extenso}}</div>

				<table width="100%" class="proposta-dados">
				   <tbody>
				      <tr>
				      	<td style="padding:10px 15px;"><span>DECLARAÇÃO DE CIÊNCIA DE REAJUSTE</span>
				      		<div style=" text-transform: none; line-height: 1.4em;">Declaro que, por ocasião da contratação, recebi todas as informações pertinentes às diferenças entre o plano ora contratado (Plano Coletivo por Adesão) e os Planos Individuais/Familiares, sobretudo no tocante à forma e à periodicidade do reajuste, cuja data base será verificada a partir da contratação entre minha entidade e a administradora de benefícios (e não no momento da assinatura desta proposta). Declaro, ainda, que me foi explicada a abrangência da clausula 18 deste contrato, cujo texto está em total conformidade com a Resolução Normativa n° 195 da ANS (Agência Nacional de Saúde), que em seu Art. 19, §1, dispõe que: "Para fins do disposto no caput, considera-se reajuste qualquer variação positiva na contraprestação pecuniária, inclusive aquela decorrente de revisão ou reequilíbrio econômico-atuarial do contrato". Por fim, declaro que me foi informado que os índices de reajuste de meu contrato não seguirão os parâmetros aplicáveis aos Planos Individuais/Familiares, podendo variar em percentuais maiores tendo em vista uma eventual alta sinistralidade que venha a ser apurada a cada período de 12 meses.</div></td>
				      </tr>
				      <tr>
				      	<td style="padding:10px 15px;"><span>Autorização para envio de informações</span>
				      		<div style=" text-transform: none; line-height: 1.4em;">{{autorizo-envio}}<br>*informações relevantes, tais como reajustes, ofertas de novos serviços e benefícios.</div></td>
				      </tr>
				      <tr>
				      	<td style="font-size:14px; padding: 0 15px;">
				      		Declaro que as informações aqui prestadas e os documentos apresentados são absolutamente verdadeiros e completos, e me responsabilizo civil e criminalmente por eles.
				      	</td>
				      </tr>
				   </tbody>
				</table>


			</td>
		</tr>

		<tr>
			<td>
				<div class="page-break"></div>
				<table width="100%">
					<tr>
						<td width="50%" style="padding: 5px;">
							<strong>Termo de Adesão ao Plano de Assistência a saúde &ndash; Plano Odontológico<br>
							Contrato Coletivo Por Adesão</strong>

							<p style="font-size: 11px; line-height: 1.1em; text-transform: none; text-align: justify;">
								Pelo Presente declaro expressamente para todos os fins de direito, ter recebido o manual de Orientação para contratação do Plano de assistência Odontológico e o guia de leitura contratual — GLC e estar ciente que de acordo com as seguintes normas para utilização do plano odontológico, as quais me obrigam, por mim e por meu (s) Dependente (s) eAgregado (s):
							</p>
							<p style="font-size: 11px; line-height: 1.1em; text-transform: none; text-align: justify;">
								1. Este instrumento é meu contrato de Adesão (a "Proposta") ao contrato de plano de Assistência a Saúde - Plano Odontológico Coletivo por Adesão (o "Benefício"), celebrado entre a Nunes & Grossi Administradora de Benefícios e Serviços Ltda. Sediada em Santos na Av. Ana Costa n° 374 - 2° andar - inscrita no CNPJ sob n° 11925725/0001-07 e na ANS sob o n° 41.764-5 (a "Administradora de Benefícios") e Metlife Planos Odontológicos Ltda sediada em São Paulo, na Av. Eng. Luis Carlos Berrini, n° 1253 - 14° andar - Cidade Monções - CEP 04571-010, inscrita sob o n° CNPJ 03273825/0001-78 e na ANS sob ° 40.648-1 (a "Operadora") é destinado a população que mantenha vínculo com a minha Entidade que é a pessoa jurídica legitimada, indicada na página 1 (um) desta proposta.
							</p>
							<p style="font-size: 11px; line-height: 1.1em; text-transform: none; text-align: justify;">
								2. A aceitação de minha Proposta depende da comprovação de meu vínculo com a Entidade, sendo que os documentos comprobatórios desse vínculo estão sendo entregues por mim ao angariador, no ato da assinatura desta, para que a idoneidade deles seja conferida em até 15 (quinze) dias pela Administradora de Benefícios, podendo esta proposta, ser recusada em razão da falta de minha elegibilidade. Em caso de recusa desta Proposta, a Taxa de Angariação será devolvida a mim pelo angariador que a recebeu.
							</p>
							<p style="font-size: 11px; line-height: 1.1em; text-transform: none; text-align: justify;">
								3. Somente serão aceitos como dependentes, meu cônjuge ou meu (minha) companheira (a); o (a) meu(minha) filho(a) solteiro o(a) meu(minha) enteado(a) solteiro(a) sob minha guarda ou tutela judicial todos até 40 Anos. Os Associados Dependente(s) devem obrigatoriamente, estar inscritos no mesmo tipo de Plano Odontológico optado pelo Titular.
							</p>
							<p style="font-size: 11px; line-height: 1.1em; text-transform: none; text-align: justify;">
								4. Sou o único responsável pelos documentos e informações fornecidos por mim e por meu (s) dependente (s) sobre toda e qualquer circunstância que possa influir na aceitação desta proposta, na manutenção ou no valor mensal do benefício, sabendo que omissões ou dados errôneos acarretarão a perda de todos os meus direitos, bem como os do (s) meu (s) dependente (s), decorrentes do benefício;
							</p>
							<p style="font-size: 11px; line-height: 1.1em; text-transform: none; text-align: justify;">
								5. Após a aceitação desta Proposta, o benefício terá inicio na data indicada no campo. " Data de Vigência", e tanto eu quanto meu (s) dependente (s) indicado (s) passaremos a ser denominados "beneficiários";
							</p>
							<p style="font-size: 11px; line-height: 1.1em; text-transform: none; text-align: justify;">
								6. Assim que eu assumir a condição de beneficiário titular fica outorgado à Administradora de Benefícios amplos poderes para me representar, assim como o(s) meu(s) beneficiário(s) dependente(s), perante a Operadora e outros órgãos, em especial a ANS, no cumprimento e/ou nas alterações deste benefício, bem como nos reajustes dos seus valores mensais;
							</p>
						</td>
						<td width="50%" style="padding: 5px;">
							<p style="font-size: 11px; line-height: 1.1em; text-transform: none; text-align: justify;">
								7. O contrato coletivo firmado entre a Administradora clel Benefícios e a Operadora, contrato que passarei a integrar, vigorará por prazo indeterminado, desde que não ocorra denúncia, por escrito, de qualquer das partes, seja pela Administradora de Benefícios ou pela Operadora. Em caso de rescisão desse contrato coletivo, a Administradora de Benefícios me fará a Comunicação desse fato, com antecedência mínima de 30(trinta) dias.
							</p>
							<p style="font-size: 11px; line-height: 1.1em; text-transform: none; text-align: justify;">
								8. Contrato coletivo por adesão somente poderá ser rescindido imotivadamente após a vigência do período de 12 meses. Caso o Beneficiário solicite exclusão, ou fique inadimplente dentro do período mínimo de vigência deste CONTRATO, será cobrado o valor da contribuição mensal vigente à época do fato, multiplicada pelo número de meses faltantes para completar 12 (doze) meses da contratação do benefício, respeitando o multiplicador mínimo de 6 (seis). A exclusão do beneficiário será efetivada mediante o envio da solicitação por escrito, redigida pelo titular inscrito no Plano.8.1 Após o período de 12 (doze) meses da adesão do beneficiário ao contrato coletivo por adesão , este passará a vigorar por prazo indeterminado, podendo ser rescindido pela Administradora de Benefício ou pelo Beneficiário mediante prévia notificação, com antecedência mínima de 60 (sessenta) dias, quando serão devidas as respectivas mensalidades.
							</p>
							<p style="font-size: 11px; line-height: 1.1em; text-transform: none; text-align: justify;">
								9. Poderei, assim como meu(s) beneficiário(s) dependente(s), utilizar o beneficio por meio dos prestadores credenciados da Operadora respeitadas as condições contratuais de cada plano. E estou ciente de que, exclusivamente em casos de urgência ou emergência comprovada, ocorrida em localidades onde não existam prestadores credenciados da Operadora as regras estarão definidas no Manual de Orientação Beneficiário/Usuário.
							</p>
							<p style="font-size: 11px; line-height: 1.1em; text-transform: none; text-align: justify;">
								10. Os prazos de carências são os períodos nos quais nem eu e nem meu(s) beneficiário(s) dependente(s) teremos direito a determinada coberturas, mesmo que em dia como o pagamento do beneficio. Haverá prazos de carências para utilização do beneficio conforme tabela indicativa da qual tive ciência e que também consta do Manual de Orientação Beneficiário/Usuário. Para efeitos de isenção de carências, devem-se observar as normas regulamentares da ANS e a legislação em vigore, se houver redução de carências, deve-se observar o Aditivo de Redução de Carências que pode acompanhar esta Proposta.
							</p>
							<p style="font-size: 11px; line-height: 1.1em; text-transform: none; text-align: justify;">
								11. A data de Vencimento do pagamento do valor mensal do benefício, bem como sua forma, serão aquelas indicadas na proposta sendo que a falta de pagamento na data do seu vencimento acarretará multa compensatória de 2 % (dois por cento) sobre o referido valor mensal do Benefício e acréscimo de juros de 1% (um por cento) ao mês sobre o valor total do benefício. No período de inadimplência, poderá ocorrer a suspensão automática do benefício no dia seguinte ao inadimplemento, cuja utilização somente será restabelecida em até 5 (cinco) dias úteis a partir da quitação do(s) valor(es) pendente(s) acrescido(s) dos encargos supracitados, observada a possibilidade de cancelamento, conforme no item 14, "(ii)", desta Proposta.
							</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>

		<tr>
			<td>
				<table width="100%">
					<tr>
						<td width="50%" style="padding: 5px;">
							<p style="font-size: 11px; line-height: 1.1em; text-transform: none; text-align: justify;">
								12. Independentemente de meu ingresso como beneficiário, o valor mensal do benefício poderá sofrer reajustes legais e contratuais, de forma cumulativa (parcial ou total) ou isolada, nas seguintes situações: (I) reajuste financeiro: (II) índice de sinistralidade, (III) em outras hipóteses, desde que conformidade com as normas e legislação em vigor
							</p>
							<p style="font-size: 11px; line-height: 1.1em; text-transform: none; text-align: justify;">
								13. Devo solicitar e informar expressamente a administradora de Benefícios toda e qualquer alteração cadastral, tal como a eventual perda de elegibilidade e o cancelamento da adesão ao benefício, respeitando os prazos e as condições gerais e particulares do Benefício.
							</p>
							<p style="font-size: 11px; line-height: 1.1em; text-transform: none; text-align: justify;">
								14. O beneficiário poderá ser cancelado: (I) por solicitação expressa minha, como beneficiário titular, à administradora de benefícios, observados os prazos e as condições estabelecidos pela Administradora de Benefícios; (II) automaticamente, pela falta de pagamento de 1 (um) valor mensal do benefício por prazo superior a 30 (trinta) dias, contados a partir do início da data de vigência do mês inadimplido, como minha consequente exclusão e a de meu (s) beneficiário(s) dependente(s), sem prejuízo de cobrança do(s) valor(es) pendente(s), sem prejuízo de cobrança do(s) valor(es) pendente(s) e observando também o disposto às clausulas 8 a 8.1; (III) pela perda da minha elegibilidade na Entidade; e (IV) por motivo de falecimento do Beneficiário. O Beneficiário poderá ainda ter o atendimento suspenso automaticamente após a data de vencimento nos casos de falta de pagamento: O Associado também será excluído: (V) em caso de recisão do contrato de Plano de Assistência Odontológica celebrado entre a CONTRATANTE e a MetLife (VI) quando o titular perder o vinculo com a CONTRATANTE, e no caso de dependente e agregado, quando perder o vinculo de dependência com o titular ou; (VII) quando devidamente comprovada a fraude em documento ou informação pertinentes à utilização dos serviços contratados.
							</p>
							<p style="font-size: 11px; line-height: 1.1em; text-transform: none; text-align: justify;">
								15. Tenho ciência que a Administradora de Benefícios poderá realizar a cobrança judicial ou extrajudicial, caso haja pendência financeira nos termos deste contrato, através de e- mails, cartas, torpedo SMS e/ou qualquer outro meio legal de comunicação.
							</p>
							<p style="font-size: 11px; line-height: 1.1em; text-transform: none; text-align: justify;">
								16. No caso de cancelamento do benefício, devolverei imediatamente a administradora de Benefícios os cartões de identificação do(s) beneficiário(s). Caso a devolução não seja efetuada, assumirei ainda todas as responsabilidades civis, criminais e financeiras por toda e qualquer utilização indevida do benefícios incluindo a utilização por terceiros, com ou sem meu consentimento.
							</p>
							<p style="font-size: 11px; line-height: 1.1em; text-transform: none; text-align: justify;">
								17. Poderei postular nova adesão ao beneficiário, mediante: (I) aceitação pela Administradora de Benefícios: (II) quitação de eventuais débitos anteriores: e (III) cumprimento de novos prazos de carência, independentemente do período em que permaneci no contrato coletivo.
							</p>
							<p style="font-size: 11px; line-height: 1.1em; text-transform: none; text-align: justify;">
								18. Devo encaminhar prontamente a Entidade, Administradora de Benefícios e/ou a Operadora, quando qualquer uma delas solicitar, documentos complementares e comprobatórios referentes a todas as informações declaradas
							</p>
						</td>
						<td width="50%" style="padding: 5px;">
							<p style="font-size: 11px; line-height: 1.1em; text-transform: none; text-align: justify;">
								19. Poderei desistir desta Proposta, sem nenhum ônus, desde que tal decisão seja comunicada por escrito à Administradora de Benefícios no prazo máximo de 7 (sete) dias, contados a partir da data de minha assinatura neste instrumento, autorizando a cobrança da Taxa de Angariação e do valor mensal do benefício, caso esse prazo não seja observado.
							</p>
							<p style="font-size: 11px; line-height: 1.1em; text-transform: none; text-align: justify;">
								20. O foro para dirimir quaisquer questões oriundas da presente proposta é o de domicilio da Administradora de Benefícios. Após ter lido os termos e estar totalmente de acordo com as condições prévias para a aceitação desta proposta, é de livre e espontânea vontade que manifesto a intenção de fazer minha adesão , e a do(s) meu(s) dependente(s) indicado(s) na proposta, ao benefício. Estou ciente de que os cartões de identificação do(s) beneficiário(s), serão enviados a mim tão logo eu e meu(s) dependente(s) tenhamos sido aceitos e nossos registros estejam regularizados na Operadora.
							</p>
							<hr>
							<div style="border: 1px solid #dadadb; padding: 15px; text-align: center;">
								<strong>local, Data</strong><br>
								{{cidade}}, {{datecreatedoc}}
								<hr>
								<strong>Assinatura do Associado</strong><br>
								<img src="{{doc-assinatura-digital}}" style="max-width: 100%; height: auto;">
								<hr>
								<strong>VENDEDOR: {{usuario_nome}}<br>CPF: {{usuario_cpf}}</strong><br>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>

	</tbody>

</table>