<table width="100%" class="proposta-dados">
   <tbody>
      <tr>
         <td width="33.3333%"><span>{{depnum}} )</span><span>Nome completo <small>(sem abreviações)</small></span>{{nome}}</td>
         <td width="33.3333%"><span>&nbsp;</span><span>Sexo</span>{{sexo}}</td>
         <td width="33.3333%"><span>&nbsp;</span><span>Estado Civil</span>{{estado-civil}}</td>
         
      </tr>
      <tr>
         <td width="33.3333%"><span>Data de nascimento</span>{{nascimento}}</td>
         <td width="33.3333%"><span>Nome da mãe completo</span>{{nome-mae}}</td>
         <td width="33.3333%"><span>Parentesco</span>{{parentesco}}</td>
      </tr>
      <tr>
         <td width="33.3333%"><span>RG</span>{{rg}}</td>
         <td width="33.3333%"><span>RG</span>{{orgao-expedidor}}</td>
         <td width="33.3333%"><span>CPF</span>{{cpf}}</td>
      </tr>
      <tr>
         <td width="33.3333%"><span>DNV <small>(Declaração nascidos vivos)</small></span>{{dnv}}</td>
         <td width="33.3333%"><span>CNS <small>(Cartão Nacional de Saúde)</small></span>{{cns}}</td>
         <td width="33.3333%"></td>
      </tr>
   </tbody>
</table>